html {
  background: #243db9;
}

#titulo {
  color: #aec1fb;
  font-weight: 800;
  font-family: 'Inconsolata', monospace;
  animation-duration: 3s;
  animation-name: slidein;
}

p {
  font-family: 'Inconsolata', monospace;
}

.formulario {
  margin-top: 5%;
}

.jumbotron {
  background: #110954;
  padding: 20px;
}

#all {
  background: #243db9;
  color: #ffffff;
}

form {
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
}

.form-text-text-muted {
  font-family: 'Inconsolata', monospace;
  color: #aec1fb;
}

.page-header {
  padding-bottom: 0px;
  margin: 40px 0 10px;
  border-bottom: 0px;
}

#sizing-addon1 {
  background: #aec1fb;
  color: #110954;
  font-weight: 600;
  border: 0px;
  font-family: 'Inconsolata', monospace;
}

#cpf_digitado {
  font-family: 'Inconsolata', monospace;
}

#botao {
  font-family: 'Inconsolata', monospace;
  background: #110954;
  color: #aec1fb;
  border: 0px;
  font-weight: 800;
}

#success {
  background: #008616;
  margin: -20px 120px 0px 120px;
  border: 0px;
  color: #ffffff;
  width: 180px;
  text-align: center;
}

#error {
  background: #860000;
  margin: -20px 120px 0px 120px;
  border: 0px;
  color: #ffffff;
  width: 220px;
  text-align: center;
}